build/** linguist-language=Go linguist-vendored
build-win/** linguist-language=Go linguist-vendored
exe/** linguist-language=Go linguist-vendored
sfml-windows/** linguist-language=Go linguist-vendored
.github/** linguist-language=Go linguist-vendored
